<div class="card  animated fadeIn" *ngIf="contactModel.contact">
       
    <div class="view overlay contactDetails">
        <img class="card-img-top" [src]="contactModel.contact.photo" alt="Card image cap">
        <a routerLink="#">
        <div class="mask rgba-white-slight"></div>
        </a>
    </div>      

    <div class="card-body">

        <h4 class="card-title">{{contactModel.contact.firstName}} {{contactModel.contact.lastName}}</h4>

        <p class="card-text" *ngIf="contactModel.contact.birthDate > 0">{{contactModel.contact.birthDate | date:'dd/MM/yyyy'}}</p>
        <p class="card-text" *ngIf="contactModel.contact.age > 0">{{contactModel.contact.age}} years old</p>

        <a class="btn btn-success" [routerLink]="'/contact/'+contactModel.contact.id+'/edit'">Edit</a>
        <button class="btn btn-danger" (click)="deleteContact()">Delete</button>

    </div>

</div>

<ngx-loading [show]="contactModel.loading"></ngx-loading>
                  