<h3>Create new user</h3>
{{form.value | json }}
{{form.valid | json }}
<form (submit)="submit()" [formGroup] = "form">

  <div class="form-group">
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" formControlName="firstName">
  </div>

  <div formGroupName="address">
    <div class="form-group">
      <input type="text" class="form-control" id="city" name="city" placeholder="City" formControlName="city">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="street" name="street" placeholder="Street" formControlName="street">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="streetNumber" name="streetNumber" placeholder="Street number" formControlName="streetNumber">
    </div>
  </div>

  <b *ngIf="form.get('address').hasError('addressError')">ERROR: Either fill all address fields or none.</b>
  

  <div formGroupName="date">
    <div class="form-group">
      <input type="number" class="form-control" id="from" name="from" placeholder="From" formControlName="from">
    </div>
    <div class="form-group">
      <input type="number" class="form-control" id="to" name="to" placeholder="To" formControlName="to">
    </div>
  </div>

  <b *ngIf="form.get('date').hasError('dateError')">ERROR: `From` cant be greater than `To`.</b>

  <div class="form-group">
    <input type="submit" class="btn btn-primary" [disabled]="!form.valid">
  </div>

</form>