<div *ngIf="contactModel.contacts.length>0">
  
  <div class="col-md-4">
    <div class="md-form form-lg">
        <input type="text" id="form1" class="form-control" placeholder="Search by first name" [(ngModel)]="SEARCH_QUERY">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4  contact-card animated fadeIn" *ngFor="let contact of contactModel.contacts | search:SEARCH_QUERY">
        <div class="card card-body">
            <div class="card-text">
              <div class="medium-thumbnail" [ngStyle]="{'background-image': 'url('+contact.photo+')'}"></div>
            </div>
            <h4 class="card-title">{{ contact.firstName }} {{ contact.lastName }}</h4>
            
            <div class="flex-row">
                <a class="btn btn-info"  [routerLink]="'/contact/'+contact.id">INFO</a>
            </div>
            
        </div>
    </div>
  </div>
</div>

<div *ngIf="contactModel.contacts <= 0">
  <ngx-loading [show]="contactModel.loading"></ngx-loading>
  <h3 align="justify" *ngIf="contactModel.loading == false">There's no contacts at the moment. Go <a routerLink="/contacts/new">create one</a></h3>
</div>  