<footer class="page-footer font-small blue pt-4 mt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-uppercase">Contacts </h5>
                <p>The place where you can access your contacts</p>
            </div>
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li *ngFor="let link of menuModel.links">
                      <a [routerLink]="link.path">{{link.label}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="#"> Ivan Vulović </a>
    </div>
</footer>