<form [formGroup]="form" (ngSubmit)="submit()" id="form" class="md-form animated fadeIn">
    <h1 class="text-center">Create new contact</h1>
  
  <div class="form-group">
    <input autocomplete="off" [ngClass]="{'is-invalid': form.controls.firstName.invalid && submitTried}" type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" formControlName="firstName">
    <div *ngIf="form.controls.firstName.invalid && submitTried" class="invalid-feedback">This field is required</div>
  </div>

  <div class="form-group">
    <input autocomplete="off" [ngClass]="{'is-invalid': form.controls.lastName.invalid && submitTried}" type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" formControlName="lastName">
    <div *ngIf="form.controls.lastName.invalid && submitTried" class="invalid-feedback">This field is required</div>
  </div>
  
  <div class="form-group">
    <input autocomplete="off" [ngClass]="{'is-invalid': form.controls.photo.invalid && submitTried}" type="text" class="form-control" id="photo" name="photo" placeholder="Photo URL" formControlName="photo">
    <div *ngIf="form.controls.photo.invalid && submitTried" class="invalid-feedback">This field is required</div>
  </div>

  <div class="form-group">
    <my-date-picker placeholder="Choose your birth date" name="mydate" [options]="options" formControlName="birthDate"></my-date-picker>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': form.controls.age.invalid && submitTried}" type="number" class="form-control" id="age" name="age" placeholder="Age" formControlName="age">
  </div>
     
  <div>
    <button type="submit" class="btn btn-primary" [ngClass]="{'btn-danger': form.invalid && submitTried}">Submit</button>
  </div>


<div class="clear"></div>
</form>


