<app-menu></app-menu>
<main class="text-center py-5 fullHeight">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>  
      </div>
    </div>
  
  </main>
  <app-footer></app-footer>