/* You can add global styles to this file, and also import other style files */
button{
    outline: none!important;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear:both;
}
.invalid-feedback {
    color: indianred;
}
.is-invalid{
    border: 1px solid indianred
}
.box{
    max-width: 100%;
}
#form{
    max-width: 500px;
    margin: 0px auto;
}
.small-thumbnail{
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
}
.hasBg{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.contactsTable td{
    line-height: 100px!important;
}

.medium-thumbnail{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
}
.centered-panel{
    width: 100%;
    text-align: center;
}
.panel-label b{
    max-width: 150px;
    width:100%;
}
#form label{
    float: left;
    margin-bottom:10px;
}
#form input:focus{
    outline:none!important;
}
.contactDetails img{
    max-width: 500px;
    margin: 0px auto;
    padding-top: 25px;
}
.view.overlay.image{
    height: 211px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

input[disabled] {
    background: #f3f3f3!important;
}
.card-title{
    font-size: 20px;
}
.contact-card{
    margin-bottom: 20px;
}
.fullHeight{
    min-height: 100vh;
}
logo.animated.fadeIn{
    bottom: 3px;
    position: relative;
    text-transform: uppercase;
}
