<header>
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="true">
      <logo class="animated fadeIn">
        <a class="logo navbar-brand" routerLink="/">

    
              <i id="icon" class="fa fa-users" style="text-shadow: rgb(44, 57, 127) 0px 0px 0px, rgb(45, 58, 130) 1px 1px 0px, rgb(47, 60, 134) 2px 2px 0px, rgb(48, 62, 138) 3px 3px 0px, rgb(49, 63, 141) 4px 4px 0px, rgb(50, 65, 145) 5px 5px 0px, rgb(52, 66, 148) 6px 6px 0px, rgb(53, 68, 152) 7px 7px 0px, rgb(54, 70, 156) 8px 8px 0px, rgb(55, 71, 159) 9px 9px 0px, rgb(57, 73, 163) 10px 10px 0px, rgb(58, 75, 167) 11px 11px 0px, rgb(59, 76, 170) 12px 12px 0px, rgb(60, 78, 174) 13px 13px 0px, rgb(62, 79, 177) 14px 14px 0px; font-size: 24px; color: rgb(255, 255, 255); height: 40px; width: 40px; line-height: 40px; border-radius: 0%; text-align: center; background-color: rgb(63, 81, 181);"></i> 
              
              <strong>Contacts</strong></a>
      </logo>
      <links class="animated fadeIn">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" mdbWavesEffect *ngFor="let link of menuModel.links">
              <a class="nav-link" [routerLink]="link.path">{{link.label}}</a>
            </li>
        </ul>
      </links>
    </mdb-navbar>
  </header>